<div class="container">
	<div class="row">
		<div class="col-xs-6 col-md-4">
			test
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			
			<p id="notice"><%= notice %></p>
			
			
			<% @homes.each do |home| %>
				<div class="row">
				  <div class="col-xs-4">
					  <%= image_tag home.image.url(:medium) %>
				  </div>
				  <div class="col-xs-8">
						<%= home.name %><br />
				        <%= home.address1 %><br />
				        <%= home.city %><br />
				        <%= home.postalCode %><br />
				        <%= home.province %><br />
				        <%= home.country %><br />
				        <%= home.description %><br />
				        
				        <%= link_to 'Show', home %>
						<% if home.user == current_user %>
							<%= link_to 'Edit', edit_home_path(home) %>
							<%= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you sure?' } %>
						<% end %>
				  </div>
				</div>
			 <% end %>
			
			<br>
			
			<% if user_signed_in? %>
			  <%= link_to 'New Home', new_home_path, class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
	
	
	<div class="center"> <%= will_paginate @homes, renderer: BootstrapPagination::Rails %> </div>
</div>