<p id="notice"><%= notice %></p>

<h1>Listing Homes</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Address1</th>
      <th>City</th>
      <th>Postalcode</th>
      <th>Province</th>
      <th>Country</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homes.each do |home| %>
      <tr>
        <td><%= image_tag home.image.url(:medium) %></td>
        <td><%= home.name %></td>
        <td><%= home.address1 %></td>
        <td><%= home.city %></td>
        <td><%= home.postalCode %></td>
        <td><%= home.province %></td>
        <td><%= home.country %></td>
        <td><%= home.description %></td>
        <td>
	        <%= link_to 'Show', home %>
			<% if home.user == current_user %>
				<%= link_to 'Edit', edit_home_path(home) %>
				<%= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you sure?' } %>
			<% end %>
		</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Home', new_home_path, class: "btn btn-primary" %>
<% end %>

