<p id="notice"><%= notice %></p>

<%= image_tag @home.image.url %>

<p>
  <strong>Name:</strong>
  <%= @home.name %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @home.address1 %>
</p>

<p>
  <strong>City:</strong>
  <%= @home.city %>
</p>

<p>
  <strong>Postalcode:</strong>
  <%= @home.postalCode %>
</p>

<p>
  <strong>Province:</strong>
  <%= @home.province %>
</p>

<p>
  <strong>Country:</strong>
  <%= @home.country %>
</p>

<p>
  <strong>Description:</strong>
  <%= @home.description %>
</p>

<% if @home.user == current_user %>
  <%= link_to 'Edit', edit_home_path(@home) %>
<% end %>
<%= link_to 'Back', homes_path %>
